@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #dcd7d7;
  column-gap: 20px;
  row-gap: 10px;
  padding: 5px;
}

@media (max-width: 1060px) {
  .video-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 629px) {
  .video-container {
    grid-template-columns: 1fr;
  }
}

.video-preview {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffff;
  border-radius: 0px 0px 3px 3px;
  transition: box-shadow 0.25s;
}

.video-preview:hover {
  box-shadow: 0px 0px 2px #333;
  outline-offset: 3px;
}

.thumbnail {
  width: 100%;
  cursor: pointer;
  margin-bottom: 3px;
}

.thumbnail img {
  width: 100%;
}

.author-icon {
  width: 50px;
  height: 50px;
  vertical-align: start;
}

.author-icon img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 250px;
}

.video-info {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 5px;
}

.video-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.video-title-link {
  text-decoration: none;
  color: inherit;
}

.video-author {
  font-size: 14px;
  cursor: pointer;
  color: rgba(96, 96, 96);
  margin-bottom: 4px;
}

.author-link {
  color: inherit;
  text-decoration: none;
}

.stats {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 5px;
}

.video-views,
.video-upload-time {
  color: rgba(96, 96, 96);
}

.video-views {
  font-size: 15px;
}
.video-upload-time {
  font-size: 14px;
}

.video-upload-time {
  padding-left: 2px;
}
