@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.search-box {
  width: 370px;
  height: 2.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 100px;
  padding-left: 1rem;
  border: none;
  box-shadow: 0px 0px 8px #3333;
}

.video-container {
  background-color: #ddd;
}

.video-preview {
  display: inline-block;
  width: 278px;
  height: 300px;
  margin: 10px;
  vertical-align: top;
  background-color: #ffff;
  padding: 5px;
  border-radius: 5px;
}

.thumbnail {
  width: 278px;
  cursor: pointer;
}

.video-title {
  display: grid;
  width: 278px;
  font-size: 1rem;
  margin-bottom: 10px;
}
.video-link {
  text-decoration: none;
  color: inherit;
}

.video-author {
  margin-bottom: 0px;
  font-size: 14px;
  cursor: pointer;
}

.video-views,
.video-upload-time {
  display: inline-block;
  margin-top: 5px;
}

.video-views {
  font-size: 15px;
}
.video-upload-time {
  font-size: 14px;
}

.video-upload-time {
  padding-left: 2px;
}
